USE [master]
GO
/****** Object:  Database [ictskills2017]    Script Date: 06.09.2020 19:26:48 ******/
CREATE DATABASE [ictskills2017]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ictskills2017', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ictskills2017.mdf' , SIZE = 270336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ictskills2017_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ictskills2017_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ictskills2017].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ictskills2017]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 06.09.2020 19:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Key] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[BirthDate] [nvarchar](20) NULL,
	[DeathDate] [nvarchar](20) NULL,
	[Wikipedia] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo.Authors] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthors]    Script Date: 06.09.2020 19:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthors](
	[BookKey] [nvarchar](128) NOT NULL,
	[AuthorKey] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.BookAuthors] PRIMARY KEY CLUSTERED 
(
	[BookKey] ASC,
	[AuthorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCovers]    Script Date: 06.09.2020 19:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCovers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CoverFile] [int] NOT NULL,
	[Book_Key] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.BookCovers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCustomers]    Script Date: 06.09.2020 19:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCustomers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BookKey] [nvarchar](128) NOT NULL,
	[CustomerID] [nvarchar](128) NOT NULL,
	[IssueDate] [date] NOT NULL,
	[UntilDate] [date] NOT NULL,
	[IsReturned] [bit] NOT NULL,
	[ReturnDate] [date] NULL,
 CONSTRAINT [PK_BookCustomers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 06.09.2020 19:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Key] [nvarchar](128) NOT NULL,
	[Title] [nvarchar](450) NOT NULL,
	[Subtitle] [nvarchar](500) NULL,
	[FirstPublishDate] [nvarchar](20) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookSubjects]    Script Date: 06.09.2020 19:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookSubjects](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](400) NOT NULL,
	[Book_Key] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.BookSubjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 06.09.2020 19:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Zip] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 06.09.2020 19:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 06.09.2020 19:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [UserName], [Password]) VALUES (1, N'admin', N'admin123')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Authors]    Script Date: 06.09.2020 19:26:51 ******/
CREATE NONCLUSTERED INDEX [IX_Authors] ON [dbo].[Authors]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuthorKey]    Script Date: 06.09.2020 19:26:51 ******/
CREATE NONCLUSTERED INDEX [IX_AuthorKey] ON [dbo].[BookAuthors]
(
	[AuthorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BookKey]    Script Date: 06.09.2020 19:26:51 ******/
CREATE NONCLUSTERED INDEX [IX_BookKey] ON [dbo].[BookAuthors]
(
	[BookKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Book_Key]    Script Date: 06.09.2020 19:26:51 ******/
CREATE NONCLUSTERED INDEX [IX_Book_Key] ON [dbo].[BookCovers]
(
	[Book_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Books]    Script Date: 06.09.2020 19:26:51 ******/
CREATE NONCLUSTERED INDEX [IX_Books] ON [dbo].[Books]
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Book_Key]    Script Date: 06.09.2020 19:26:51 ******/
CREATE NONCLUSTERED INDEX [IX_Book_Key] ON [dbo].[BookSubjects]
(
	[Book_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BookSubjects]    Script Date: 06.09.2020 19:26:51 ******/
CREATE NONCLUSTERED INDEX [IX_BookSubjects] ON [dbo].[BookSubjects]
(
	[Subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookAuthors_dbo.Authors_AuthorKey] FOREIGN KEY([AuthorKey])
REFERENCES [dbo].[Authors] ([Key])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_dbo.BookAuthors_dbo.Authors_AuthorKey]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookAuthors_dbo.Books_BookKey] FOREIGN KEY([BookKey])
REFERENCES [dbo].[Books] ([Key])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_dbo.BookAuthors_dbo.Books_BookKey]
GO
ALTER TABLE [dbo].[BookCovers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookCovers_dbo.Books_Book_Key] FOREIGN KEY([Book_Key])
REFERENCES [dbo].[Books] ([Key])
GO
ALTER TABLE [dbo].[BookCovers] CHECK CONSTRAINT [FK_dbo.BookCovers_dbo.Books_Book_Key]
GO
ALTER TABLE [dbo].[BookCustomers]  WITH CHECK ADD  CONSTRAINT [FK_BookCustomers_Books] FOREIGN KEY([BookKey])
REFERENCES [dbo].[Books] ([Key])
GO
ALTER TABLE [dbo].[BookCustomers] CHECK CONSTRAINT [FK_BookCustomers_Books]
GO
ALTER TABLE [dbo].[BookCustomers]  WITH CHECK ADD  CONSTRAINT [FK_BookCustomers_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[BookCustomers] CHECK CONSTRAINT [FK_BookCustomers_Customer]
GO
ALTER TABLE [dbo].[BookSubjects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookSubjects_dbo.Books_Book_Key] FOREIGN KEY([Book_Key])
REFERENCES [dbo].[Books] ([Key])
GO
ALTER TABLE [dbo].[BookSubjects] CHECK CONSTRAINT [FK_dbo.BookSubjects_dbo.Books_Book_Key]
GO
USE [master]
GO
